$brand-color-red: #ff0000;
$bland-color-red: #ed1c29;
$pinfield-gray: #545454;
$bland-lime-green: #5c8c3a;
$brand-color-green: #588d32;
$brand-color-blue: #015da8;
$brand-color-yellow: #ffcd09;
$brand-color-umber: #d18c21;
$brand-color-grey: #666666;
$brand-color-light-grey: #acacac;
$brand-color-dark-grey: #333333;
$brand-color-white: #ffffff;
$secondary-font-family: "Raleway";
$primary-font-family: "Roboto";
